@import "../../styles/_mixins";
@import "../../styles/_spacing";
@import "../../styles/_colors";

.comments-form {
  @include center-container;
  width: 20em;
}

.input-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &--full {
    align-content: flex-start;
    flex-direction: column;
  }

  &__label {
    width: 6em;
    margin: $padding $padding-large $padding 0;

    &--full {
      width:100%;
      margin: $padding 0;
    }
  }

  &__input {
    padding: $input-padding;
    color: $color-primary;
    background-color: $color-primary-bg;
    border: 2px solid $color-primary-light;
    border-radius: $border-radius-default;
    font-size: 16px;
    font-family: sans-serif;
    width: 15em;
    outline: none;
  }

  &__input:focus {
    color: $color-active;
    background-color: $color-active-bg;
    border-color: $color-active;
    box-shadow: 0 0 5px $color-active;
  }

  &__textarea {
    padding: $input-padding;
    color: $color-primary;
    background-color: $color-primary-bg;
    border: 2px solid $color-primary-light;
    border-radius: $border-radius-default;
    font-size: 16px;
    font-family: sans-serif;
    width: calc(100% - 40px);
    height: 5em;
    outline: none;
  }

  &__input:focus {
    color: $color-active;
    background-color: $color-active-bg;
    border-color: $color-active;
    box-shadow: 0 0 5px $color-active;
  }
}