$default-bg: #F1F5FD;

$color-primary: #1f256e;
$color-primary-light: #eaeaf5;
$color-primary-dark: #2d1473;
$color-primary-bg: #ffffff;

$color-active: #6134d6;
$color-active-light: #d7ccf2;
$color-active-bg: #f5f1fd;